
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index","Employee/")'"> Employee </button>
<button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Department/")'"> Department </button>
<button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Project/")'"> Project </button>
<button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Status/")'"> Status </button>